FE_CONTAINER_NAME=frontend-rover-dev

# Port yang akan dibuka di browser (http://localhost:5173)
FE_PORT_EXPOSE=5173

# Alamat API Backend - route through nginx
VITE_BACKEND_URL=<ip_vps:port_project>
VITE_MODE=production
NODE_ENV=production